.my-3.px-3.w-full.overflow-hidden.bg-gray-700.rounded.shadow-lg.pt-3.md:mx-2
  - (1..5).each do |position|
    - room_player = @room_team.room_players.find_by(position: position)
    = render(RoomTeams::Card::PlayerSlot::Component.new(position: position, room_team: @room_team, room_player: room_player))

