-# frozen_string_literal: true

|agua
#lol
button data-reflex="click->RoomTeams::Card::PlayerSlot::ComponentReflex#lol" dwa

= render(Rooms::PlayersCard::Component.new(room: @room))

= button_to 'Start Room', start_room_path(@room)
